@tailwind base;
@tailwind components;
@tailwind utilities;

.glass-card {
    @apply bg-white/5 backdrop-blur-lg border border-white/10 rounded-2xl shadow-xl;
}

/* Hide scrollbar but allow scroll */
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}